$font-path: "fonts/";

@font-face {
  font-family: 'robotoblack';
  src: url('#{$font-path}Roboto-Black-webfont.eot');
  src: url('#{$font-path}Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}Roboto-Black-webfont.woff') format('woff'),
  url('#{$font-path}Roboto-Black-webfont.ttf') format('truetype'),
  url('#{$font-path}Roboto-Black-webfont.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}