.ymp-btn {
  padding: 10px 28px;
  border-radius: 3px;
  background: $green;
  line-height: 1.1;
  font-family: $ff-robl;
  font-size: 20px;
  color: $gray-base;
  text-transform: uppercase;
  &:hover {
    background: $color-1;
    color: $white;
  }
}

.btn-submit {
  @extend .ymp-btn;
  background: #f6e25d;
  font-size: $font-size-base - 2;
  padding: 10px 15px;
  font-family: $font-family-base;
  &:hover {
    background: #bcbb0f;
  }
}