.icons-sprite, .icons-fb_icon, .icons-gplus_icon, .icons-instragram_icon, .icons-linked_in_icon, .icons-twitter_icon {
  background: url('../images/icons-s6c031cfe82.png') no-repeat;
}

.icons-fb_icon {
  background-position: 0 0;
  height: 39px;
  width: 48px;
}
.icons-fb_icon:hover, .icons-fb_icon.fb_icon-hover {
  background-position: 0 -39px;
}

.icons-gplus_icon {
  background-position: 0 -78px;
  height: 39px;
  width: 41px;
}
.icons-gplus_icon:hover, .icons-gplus_icon.gplus_icon-hover {
  background-position: 0 -117px;
}

.icons-instragram_icon {
  background-position: 0 -156px;
  height: 39px;
  width: 52px;
}
.icons-instragram_icon:hover, .icons-instragram_icon.instragram_icon-hover {
  background-position: 0 -195px;
}

.icons-linked_in_icon {
  background-position: 0 -234px;
  height: 39px;
  width: 41px;
}
.icons-linked_in_icon:hover, .icons-linked_in_icon.linked_in_icon-hover {
  background-position: 0 -273px;
}

.icons-twitter_icon {
  background-position: 0 -312px;
  height: 39px;
  width: 40px;
}
.icons-twitter_icon:hover, .icons-twitter_icon.twitter_icon-hover {
  background-position: 0 -351px;
}
