// Import Font Awesome
@import "fa/font-awesome";
@import "fonts";

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Import Icon files
@import "icons";
@import "helpers";

body {
  position: relative;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
#wrapper {
  position: relative;
}
h1, h2, h3 {
  font-weight: normal;
}

.main-nav {
  padding: 30px 0;
  .navbar-nav {
    float: right;
    padding-top: 60px;
    li {
      a {
        font-family: $ff-robl;
        font-size: 18px;
        color: $gray-base;
        text-transform: uppercase;
      }
    }
  }
}
.home {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .navbar-nav li a {
      color: $white;
      &:hover {
        color: $color-1;
      }
    }
  }
}
#home_banner {
  background: url("../images/hero.jpg") no-repeat center center transparent;
  background-size: cover;
  padding: 310px 0 0;
}
.hb_txt {
  text-align: left;
  color: $white;
  display: inline-block;
  h1 {
    margin: 0 0 40px;
    font-size: 72px;
    letter-spacing: -2px;
  }
  p {
    margin: 20px 0 0;
    font-family: $ff-roco;
    font-size: 24px;
    letter-spacing: -1px;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  //transition: 0.4s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-family: $ff-robl;
  font-size: 18px;
  color: $white;
}

.sidenav a:hover, .offcanvas a:focus{
  color: $color-1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#wrapper {
  transition: .4s;
  &.open_navs {
    -ms-transform: translate(-250px, 0);
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
  }
}
.blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.4);
  display: none;
}
.blocked {
  .blocker {
    display: block;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.home-text-elem {
  padding: 50px 0 55px;
}
.mission-inner {
  h1 {
    font-size: 72px;
    margin: 0 0 60px;
    line-height: 1;
    strong {
      display: inline-block;
      padding: 3px 5px;
      font-weight: normal;
    }
  }
}
.mission-blend {
  h1 strong {
    background: #be291e;
    color: $white;
  }
}
.mission-main {
  h1 strong {
    padding: 3px 0;
    border-bottom: 5px solid #be291e;
  }
}
#mission_dog_img {
  height: 600px;
  background: url("../images/dog_banner_img.jpg") no-repeat center center transparent;
  background-size: cover;
}
.mission_help {
  p {
    margin: 0 0 25px;
  }
}
.mh-img {
  text-align: right;
}
#mission_shop_img {
  height: 285px;
  background: url("../images/featured_img.jpg") no-repeat center center transparent;
  background-size: cover;
}
.inner-title {
  font-size: 36px;
  margin: 0 0 35px;
}
#location {
  p {
    margin: 0 0 30px;
  }
}
.fh-block {
  padding-top: 60px;
}
.inner-title +.fh-block {
  padding-top: 0px;
}
.latest_blog {
  background: #1f1f1f;
  color: $white;
  h2 {
    font-size: 40px;
    margin: 0 0 40px;
  }
  .media-left {
    padding-right: 25px;
    img {
      max-width: none;
    }
  }
  .media-heading {
    font-size: 20px;
  }
  p {
    font-weight: 300;
    margin: 0;
  }
}
.contact_section{
  h2 {
    margin: 0 0 40px;
  }
  .input-group {
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }
  .form-control {
    font-size: $font-size-base - 2;
  }
  textarea.form-control {
    height: 110px;
  }
  .input-group-btn {
    width: 60%;
  }
  .submit-block {
    .input-group-addon {
      background: #f2d515;
      border-color: #f2d515;
    }
  }
  .input-group-addon {
    i {
      font-size: 16px;
      display: inherit;
    }
  }
}
#footer {
  background: #222329;
  padding: 30px 0;
  border-bottom: 15px solid #2e303c;
}
#social_links {
  text-align: right;
  line-height: 0;
  li {
    display: inline-block;
    padding: 0 10px;
    a {
      display: block;
      @extend .text-hide;
      font-size: 0px;
    }
  }
}

//asdf 123

@media (min-width: $screen-lg-min) {
  .main-nav .navbar-nav li a {
    padding: 10px 20px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .latest_blog {
    padding: 85px 0;
    h2 {
      margin: 0 0 10px;
    }
    .media {
      margin-top: 35px;
    }
  }
  .contact_section {
    padding: 90px 0 80px;
    h2 {
      margin-bottom: 60px;
    }
    .input-group {
      margin-top: 15px;
    }
  }
  .mission_help {
    h2 {
      font-size: 40px;
      margin: 0 0 25px;
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #mission_dog_img {
    max-height: 500px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #mission_dog_img {
    max-height: 400px;
  }
}

@media (min-width: $screen-sm-min) {
  .main-nav  {
    .navbar-nav {
      padding-top: 50px;
    }
    li a {
      padding: 10px;
    }
  }
  .has-sm-pt {
    padding-top: 3%;
  }
}


@media (max-width: $screen-xs-max) {
  .main-nav {
    padding: 15px 0;
    .navbar-brand {
      width: 120px;
      margin-left: 15px;
    }
    .navbar-toggle {
      margin-top: 20px;
    }
  }

  #mission_dog_img {
    max-height: 300px;
  }
  .hb_txt {
    h1 {
      font-size: 62px;
    }
  }
  .hb_txt {
    h1 {
      font-size: 60px;
    }
  }
  .inner-title {
    font-size: 28px;
  }
  #location {
    p {
      margin-bottom: 15px;
    }
  }
  .mh-txt {
    padding-bottom: 25px;
    text-align: center;
    * {
      text-align: left;
    }
  }
  .mh-img {
    text-align: center;
  }
  .mission-inner {
    h1 {
      font-size: 60px;
    }
  }
  .fh-block {
    padding-top: 20px;
    p {
      margin-top: 15px;
    }
    & > div:first-child {
      text-align: center;
    }
  }
  .latest_blog .media-left {
    display: block;
    padding: 0 0 15px 0;
  }
  .contact_section {
    .col-sm-6:last-child {
      padding-top: 10px;
      text-align: center;
      .form-control {
        text-align: left;
      }
    }
    .submit-block {
      display: inline-block;
      width: 235px;
      margin-top: 15px;
    }
  }
  .media {
    margin-top: 20px;
  }
  .latest_blog {
    .media {
      border-bottom: 1px solid $white;
      padding-bottom: 20px;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
  #social_links {
    text-align: center;
  }
}

@media (max-width: 480px) {
  #home_banner {
    height: auto !important;
    padding-top: 150px !important;
    padding-bottom: 30px;
  }
  #social_links li {
    padding: 0 8px;
  }
}